<h3>Show</h3>


<%= @profils4 %>


<h3>Post a Comment</h3>





<%= form_for @profils, :url => { :action => "search" } do |t| %>

 <p>votre nom <%= t.text_field :nom, :size => 30 %> </p>


 <%= submit_tag %>


<% end  %>


<h3> listes rouge </h3>


 <% @profils6.each do |t|  %>

<p>
<%=  t.nom  %>

<%=  t.id  %>

<%=  t.rouge  %>


</p>
<% end %>



<p>

	

	<% page=1  %>

	<% while page<11 %>



 
 <a href="/profils/<%= page %>">  <%= page %> </a> 

 <% page+=1 %>
 <% end %>
 

	</p>












